In [1]:
pip install pandahouse

Collecting pandahouseNote: you may need to restart the kernel to use updated packages.
  Downloading pandahouse-0.2.7.tar.gz (21 kB)
Requirement already satisfied: pandas in c:\anaconda3\lib\site-packages (from pandahouse) (1.0.5)
Requirement already satisfied: requests in c:\anaconda3\lib\site-packages (from pandahouse) (2.24.0)
Requirement already satisfied: toolz in c:\anaconda3\lib\site-packages (from pandahouse) (0.10.0)
Requirement already satisfied: numpy>=1.13.3 in c:\anaconda3\lib\site-packages (from pandas->pandahouse) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\anaconda3\lib\site-packages (from pandas->pandahouse) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\anaconda3\lib\site-packages (from pandas->pandahouse) (2020.1)
Requirement already satisfied: idna<3,>=2.5 in c:\anaconda3\lib\site-packages (from requests->pandahouse) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\anaconda3\lib\site-packages (from requests->pandahouse) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda3\lib\site-packages (from requests->pandahouse) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\anaconda3\lib\site-packages (from requests->pandahouse) (1.25.9)
Requirement already satisfied: six>=1.5 in c:\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->pandahouse) (1.15.0)
Building wheels for collected packages: pandahouse
  Building wheel for pandahouse (setup.py): started
  Building wheel for pandahouse (setup.py): finished with status 'done'
  Created wheel for pandahouse: filename=pandahouse-0.2.7-py2.py3-none-any.whl size=5933 sha256=dbb4c3eb9bc4713ca0ca29141219f5c698e2191ae39c9e3a3414519db6c0d20f
  Stored in directory: c:\users\айдар\appdata\local\pip\cache\wheels\ac\4c\5e\db329483558c567308a40daf28533f98982d8f0e2443bb1ebd
Successfully built pandahouse
Installing collected packages: pandahouse
Successfully installed pandahouse-0.2.7

In [3]:
import pandahouse as ph
import pandas as pd

In [7]:
connection = {'database' : 'test',
             'host': 'https://clickhouse.lab.karpov.courses',
             'user': 'student-rw',
             'password': '656e2b0c9c'}

In [8]:
query="""SELECT *
FROM test.installs
LIMIT 1000"""
df=ph.read_clickhouse(query, connection=connection)
df

    InstallationDate  InstallCost Platform              DeviceID     Source
0         2019-03-02            0  android   7950068545577019282  Source_27
1         2019-03-17           49  android  17173992779193729517  Source_14
2         2019-04-07           56  android   9528182466778893591  Source_14
3         2019-06-25           39  android   2212531864415574595   Source_9
4         2019-04-13            0  android   6959033924999748551  Source_27
..               ...          ...      ...                   ...        ...
995       2019-01-09          334  android   5435327797863630841  Source_14
996       2019-03-05           19      iOS  16012086443778979967   Source_9
997       2019-06-12            0      iOS   1637578224854940304  Source_27
998       2019-07-01          171  android   9176486286906828772   Source_9
999       2019-09-20            0  android   9240230502613874345  Source_27

[1000 rows x 5 columns]

In [11]:
df.to_excel('C:/Users/Айдар/Desktop/Machine learning/SQL_project/data.xlsx', index=False, encoding='UTF-8',sheet_name='data' )

In [12]:
df_in=pd.read_csv('C:/Users/Айдар/Desktop/Machine learning/SQL_project/medium.csv', sep='\t')

In [13]:
df_in.head()

,published,domain,url
0,2012-08-13 22:54:53.510Z,medium.com,https://medium.com/policy/medium-terms-of-serv...
1,2012-08-13 22:57:17.248Z,medium.com,https://medium.com/policy/medium-privacy-polic...
2,2016-11-04 23:40:43.364Z,medium.com,https://medium.com/@Medium/personalize-your-me...
3,2016-12-24 18:21:13.427Z,medium.com,https://medium.com/holiday-poems/xmas-morning-...
4,2015-09-22 21:37:48.207Z,blog.medium.com,https://blog.medium.com/taking-a-side-on-net-n...

In [16]:
query_create="""CREATE TABLE test.adr_database (
published String,
domain String,
url String)
ENGINE=Log
"""

In [17]:
df_create=ph.read_clickhouse(query_create, connection=connection)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8b in position 1: invalid start byte

In [18]:
ph.to_clickhouse(df_in, 'adr_database', index=False, connection=connection)

92191

In [19]:
query2="""SELECT *
FROM test.adr_database
LIMIT 100"""

df_test=ph.read_clickhouse(query2, connection=connection)

In [20]:
df_test

,published,domain,url
0,2012-08-13 22:54:53.510Z,medium.com,https://medium.com/policy/medium-terms-of-serv...
1,2012-08-13 22:57:17.248Z,medium.com,https://medium.com/policy/medium-privacy-polic...
2,2016-11-04 23:40:43.364Z,medium.com,https://medium.com/@Medium/personalize-your-me...
3,2016-12-24 18:21:13.427Z,medium.com,https://medium.com/holiday-poems/xmas-morning-...
4,2015-09-22 21:37:48.207Z,blog.medium.com,https://blog.medium.com/taking-a-side-on-net-n...
...,...,...,...
95,2016-12-29 09:29:41.795Z,medium.com,https://medium.com/@thisismissem/an-open-cover...
96,2016-12-12 04:54:37.943Z,medium.com,https://medium.com/@kuehn.robin/do-you-have-im...
97,2016-10-13 07:15:36.895Z,hackernoon.com,https://hackernoon.com/asynchronous-server-sid...
98,2015-11-11 11:55:56.456Z,medium.com,https://medium.com/russian/%D0%BA%D0%B0%D0%BA-...
99,2015-06-05 01:20:38.577Z,medium.com,https://medium.com/russian/%D0%BD%D0%B8%D0%B3%...